@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body{
    font-family:  'Inter', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
}

.barra-superior{
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
    height: 70px;
    width: 100%;
}

main{

}

aside{
    
}

.mini-container{
    height: 373px;
    width: 300px;
    margin-top: 18px;
    margin-bottom: 80px;
    }

.img-container{
    height: 159px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.descricao-container{
    height: 215px;
    background-color: #ffffff;
    border: 2px solid #f5f5f5;
    padding: 15px;
}

.box-filtro{
    height: 26px;
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    background-color: #2E245E;
    margin-top: 20px;
    padding: 5px;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
}

img{
    max-height: 88%;
}

h3{
    font-size: 18px;
    color: #333333;
    font-style: normal;
    font-weight: 700;
    margin: 15px;
}

p{
    margin: 15px;
    font-size: 12px;
    color: #828282;
}

.price{
    color: #2E245E;
}


